name: Publish VS Code Extension

on:
  push:
    tags:
      - 'v*.*.*'   # example: v1.0.1

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 24

      - name: Install vsce
        run: npm install -g @vscode/vsce

      - name: Install dependencies
        run: npm install

      - name: Package extension
        run: vsce package

      - name: Publish extension
        run: vsce publish -p ${{ secrets.VSCE_TOKEN }}
